*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.img {
    max-width: 100%;
}

/*debug*/
#debug *{
    border: 1px dashed;
}

#debug .bg-header{
    background-color: salmon;
}

/*custom*/


/*utiliti*/
.container {
    width: 80%;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -0,5;
}
/*flex*/
.d-flex{
    display: flex;
}

/*region header*/
#app_header{

    padding: 1rem;;
    
    >div {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav{
        a{
            text-decoration: none;
            color: black;
            padding: 1rem;
        }
    }

    .left_menu {
        
         padding-right: 35%;
        
    }

    .right_menu {
         padding-left: 45%;
    }

    .log_in{
        color: white;
    }

    

    
    
}
