*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.img {
    max-width: 100%;
}

/*debug*/
#debug *{
    border: 1px dashed;
}


/*custom*/
:root{

}

/*utiliti*/
.container {
    width: 80%;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -0,5;
}
/*flex*/
.d-flex{
    display: flex;
}



/*region header*/
#app_header{
    padding: 1rem;
    display: flex;
    justify-content: space-between;

    .left, .right{
        display: flex;
        align-items: center;
        gap: 1rem; 
        a{
             text-decoration: none;
             color: black;
             padding: 1rem;
        }
    }
.start{
    background-color: blue;
    padding: 1rem;
        a{
        text-decoration: none;
        color: white;
    }
}
}